@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.whatsapp{
  position: fixed;
  left: 2rem;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0);
  border-radius: 4rem;
  z-index: 10000;
  transition: 0.3s;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  background: #25D366;
  transition: all .5s ease;
}
.whatsapp:hover{
  background: darken($color: #25D366, $amount: 10%);
  color: #f6f6f6;
}
.transparency{
  height: 560px; width: 100%; z-index: -10; overflow: hidden}
  
  .map-container-2 {
        height: 500px;
      }

      :root {
        --clr-neon:#dc2626;
        --clr-bg: #342E37;
      }
      .button {
        padding: 0.5em 1.25em;
        border-radius: 0.125em;
        display: inline-block;
      }
      
      .button--neon {
        border: 0.125em solid var(--clr-neon);
        position: relative;
        color: var(--clr-neon);
        background-color: transparent;
        cursor: pointer;
        text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5), 0 0 0.25em currentColor;
        box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
      }
      .button--neon:hover {
        color: var(--clr-bg);
        text-shadow: none;
      }
      .button--neon:hover:after {
        opacity: 1;
      }
      .button--neon:hover:before {
        opacity: 1;
      }
      .button--neon:before, .button--neon:after {
        content: "";
        position: absolute;
        transition: opacity 100ms linear;
        background-color: var(--clr-neon);
      }
      .button--neon:before {
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
        transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
        filter: blur(1em);
        opacity: 0.5;
      }
      .button--neon:after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0 0 0.75em 0.25em var(--clr-neon), 0 0 0.75em 1em var(--clr-bg);
        opacity: 0;
      }